<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3>Menu Administración:</h3>
        <hr />
        <ul class="list-group">

          <li
            class="list-group-item"
            routerLinkActive="active"
            routerLink="serviciosclientes"
          >
            Lista Servicios Clientes
          </li>
          <li
            class="list-group-item"
            routerLinkActive="active"
            routerLink="cliente"
          >
            Clientes
          </li>
          <li
            class="list-group-item"
            routerLinkActive="active"
            routerLink="servicio/listaservicio"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Servicios
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <ul class="list-group">
        <li
          class="list-group-item"
          routerLinkActive="active"
        >
          <h4>Link API:</h4>
          <a href="https://www.apiclienteservicio.somee.com/swagger/index.html" target="_blank">https://www.apiclienteservicio.somee.com/swagger/index.html</a>.
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <ul class="list-group">
        <li
          class="list-group-item"
          routerLinkActive="active"
        >
          <h4>Modelo:</h4>
          <img src="../../../../assets/img/Captura de pantalla 2024-03-19 132708.png" style="width: 350px; height: 140px;">
        </li>
      </ul>
    </div>
  </div>
</div>
