<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3>Administración:</h3>
        <hr />
        <ul class="list-group">
          <li
            class="list-group-item"
            routerLinkActive="active"
            routerLink="servicio/listaservicio"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Servicios
          </li>
          <li
            class="list-group-item"
            routerLinkActive="active"
            routerLink="cliente"
          >
            Clientes
          </li>
          <li
            class="list-group-item"
            routerLinkActive="active"
            routerLink="serviciosclientes"
          >
            Listado Servicios
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
